<p>threads works!</p>


<div *ngFor="let thread of allThreads;let i=index" class="dish-container">
    <div class="channel-page">
        <div>
            <div>Channel Name: {{ thread.channelName}}</div>
            <div class="posts" *ngFor="let post of thread.content">
                <div>
                    <img class="profile-img" src="{{ post.img }}">
                </div>
                <div>
                    <div>
                        <p><b>{{ post.author }}</b></p>
                        <p>{{ post.time }}</p>
                    </div>
                    <div class="post">
                        <p [innerHTML]="post.text"></p>
                    </div>
                </div>
                
            </div>
            <app-comment-box></app-comment-box>
        </div>
    </div>
    
</div>




