<!-- <div *ngFor="let thread of allThreads;let i=index" class="thread-container">
    <div class="channel-page">
        <div [routerLink]="['/mainpage/channel/' + thread.id]" class="channel-inner-page">
            <div># {{ thread.channelName}}</div>
            <div class="posts-container" >
                <div class="posts" *ngFor="let post of thread.content let first=first;" >
                    <div class="pd-left display-row" >
                        <img class="profile-img" src="{{ post.img }}">
                        <div>
                            <div class="display-row ">
                                <p class="pd-left-s"><b>{{ post.author }}</b></p>
                                <p class="pd-left-s">{{ post.time }}</p>
                            </div>
                            <div class="post pd-left-s">
                                <p [innerHTML]="post.text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="pd-top" *ngIf="first">
                        <a class="pd-left pd-top" [routerLink]="['/mainpage/channel/' + thread.id]" >weitere Antworten anzeigen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="thread-container" *ngFor="let post of ALLTHREADS; index as i" >
    <div class="channel-page" *ngIf="searchText === '' || post.postAuthorName.toLowerCase().includes(searchText) || post.postText.toLowerCase().includes(searchText)">
        <div class="channel-inner-page">
            <div># {{post.channelName}}</div>
            <div class="post-container" #scrollMe>
                <div class="posts" >
                    <img class="profile-img" src="{{ post.postAuthorImg }}">
                    <div>
                        <div class="general-info-line">
                            <p><b>{{ post.postAuthorName }}</b></p>
                            <span>{{ post.postTime }}</span>
                        </div>
                        <div class="post">
                            <p [innerHTML]="post.postText"></p>
                        </div>
                        <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                            src="{{ post['uploadImg'] }}">
                    </div>
                </div>
                <a class="pd-left pd-top" id="{{ post.postId }}" 
                    [routerLink]="'/mainpage/channel/' + ALLTHREADS[i].channelID"
                    [queryParams]="{sendedPostID: ALLTHREADS[i].postID}" (click)="setMarkedPostId(post.postID)">weiter zum Post</a>




                    <div class="comments-container" >
                    <div class="comments" *ngFor="let comment of post.lastTwoComment.reverse(); index as a" >
                        <img class="profile-img" src="{{ comment.commentLastAuthorImg }}">
                        <div>
                            <div class="general-info-line">
                                <p><b>{{ comment.commentLastAuthorName }}</b></p>
                                <span>{{ comment.commentLastTime }}</span>
                            </div>
                            <div class="post">
                                <p [innerHTML]="comment.commentLastText"></p>
                            </div>
                            <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                                src="{{ post['uploadImg'] }}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>