quill-editor{
    width: 100%;
}

form{
    position: relative;
}

.send-icon{
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;

    &:hover{
        color: #A161A3;
    }
}