<div class="text-editor">
    <form [formGroup]="form">
        <quill-editor *ngIf="location == 'posts'" #editor class="content-editor" formControlName="editor" [placeholder]="''" [modules]="modules"
            (onEditorChanged)="changedEditor($event)">
        </quill-editor>

        <quill-editor *ngIf="location == 'comments'" #editor class="content-editor" formControlName="editor" [placeholder]="''" [modules]="modulesSmall"
        (onEditorChanged)="changedEditor($event)">
        </quill-editor>

        <i *ngIf="valid && !loading" class="material-icons send-icon" matTooltip="Post" (click)="postToChannel()">send</i>

        <div class="send-icon2" *ngIf="location == 'posts'">
            <label for="posts" class="upload-file">
                <i class="material-icons" matTooltip="add image">add</i>

            </label>
            <input class="send-icon2" type="file" id="posts" (change)="uploadToPosts($event)" accept=".png,.jpg">
        </div>

        <div class="send-icon2" *ngIf="location == 'comments'">
            <label for="threads" class="upload-file">
                <i class="material-icons" matTooltip="add image">add</i>

            </label>
            <input class="send-icon2" type="file" id="threads" (change)="uploadToThread($event)" accept=".png,.jpg">
        </div>
    </form>

    <div class="upload-image-container" *ngIf="downloadURLPost">
        <div class="position-relative">
            <img (click)="openLightbox(imgUploadPost)" [src]="imgUploadPost" class="">
            <i (click)="discardUpload()" class="material-icons">close</i>
        </div>
    </div>

    <div class="upload-image-container" *ngIf="downloadURLThread">
        <div class="position-relative">
            <img (click)="openLightbox(imgUploadThread)" [src]="imgUploadThread" class="">
            <i (click)="discardUpload()" class="material-icons">close</i>
        </div>
    </div>
</div>