<div class="container">
    <div class="header-container">
        <h2>Direct messages</h2>
        <div class="search-container">
            <p>To:</p>
            <button (click)="createChat()" [disabled]="usersWantToChat.length == 0">create Chat</button>

        </div>
        <div class="search-container">
            <input #searchUserField placeholder="Search User" type="text" [ngModel]="mymodel"
                (ngModelChange)="valuechange($event)" />

        </div>
        <div class="want-to-chat-user-list" *ngFor="let userwantToChat of usersWantToChat; let i = index">
            <div class="want-to-chat-user">
                <img src="{{ userwantToChat['imageUrl'] }}">
                <p>{{ userwantToChat['name'] }}</p>
                <div class="want-to-chat-icon" (click)="deleteUserWantToChat(i)">
                    <mat-icon>close</mat-icon>
                </div>
            </div>
        </div>
        <div class="search-user-list" *ngFor="let foundUser of foundUsers; let i = index">
            <div (click)="addUserWantToChat(i, searchUserField)">
                <img class="found-user-image" src="{{ foundUser['imageUrl'] }}">
                <p>{{ foundUser['name'] }}</p>
            </div>
        </div>
    </div>
    <div class="body-container">
        <div class="latest-messages-container" *ngIf="chatActive == false">
            <div *ngFor="let messageEx of messagesExample">
                <div class="day-container">
                    <p class="day-text">{{ messageEx['date'] }}</p>
                    <div class="message-container">
                        <img src="{{ messageEx['day_message']['user_src'] }}">
                        <div class="message-text-container">
                            <p class="user-name">{{ messageEx['day_message']['user'] }}</p>
                            <div>
                                <p>{{ messageEx['day_message']['user_firstname'] }}<span>{{
                                        messageEx['day_message']['user_message']
                                        }}</span></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="active-chat-container">
            <div *ngFor="let message of messages">
                <p>Message</p>
                <p>{{ message['loadMessageText']}}</p>
            </div>

        </div>
    </div>
</div>

<div mat-dialog-content class="mat-dialog-content">adsf</div>