.container {
    width: 70%;
    background-color: rgb(230, 230, 230);
    min-height: calc(100vh - 50px);
}

.header-container {
    padding: 0 15px;
    background-color: white;
    border-right: 1px solid lightgrey;
    h2 {
        padding: 10px 0;
        margin: 0;
    }
    .search-container {
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: gray;
        font-size: 16px;
        p{
            padding-right: 5px;
        }
        input{
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }
}

.day-container {
    padding: 30px 15px;
    padding-bottom: 0;
}

.day-text {
    font-weight: 500;
    font-size: 16px;
    padding-left: 15px;
}

.message-container{
    display: flex;
    align-items: flex-start;
    padding: 15px 15px;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    img{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 5px;
    }
}

.message-text-container{
    padding-left: 10px;
    div{
        display: flex;
        p{
        padding-right: 3px;
    }}
}

.user-name {
    font-weight: bold;
}

.search-user-list{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px 0;
    div{
        display: flex;
        align-items: center;
        padding: 5px 0;
        cursor: pointer;
        &:hover{
            background-color: darkblue;
            color: white;
        }
      }
}

.found-user-image{
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.want-to-chat-user-list{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
   
}

.want-to-chat-user{
        width: auto;
        display: flex;
        align-items: center;
        background: rgb(193, 230, 242);
        font-weight: 600;
        p{
            margin-right: 15px;
        }    
        img{
            height: 24px;
            margin-right: 10px;
            border-radius: 5px;
        }
}

.want-to-chat-icon{
    mat-icon{
        color: gray;
        font-size: 20px;
        font-weight: 200;
        vertical-align: middle!important;
        height: auto;
        width: auto;
      }
      &:hover{
        mat-icon{
            color: black;
        }
        background-color: rgb(164, 207, 220);
        cursor: pointer;
    }
}