<div class="over-container">
    <div class="header-container">
        <h2>Direct messages</h2>
        <div class="search-container w-100">
            <div class="w-100 d-flex align-items-center">
                <p class="text-center">To:</p>
                <div class="want-to-chat-user-list" *ngFor="let userwantToChat of usersWantToChat; let i = index">
                    <div class="want-to-chat-user">
                        <img src="{{ userwantToChat['imageUrl'] }}">
                        <p>{{ userwantToChat['name'] }}</p>
                        <div class="want-to-chat-icon" (click)="deleteUserWantToChat(i)">
                            <mat-icon>close</mat-icon>
                        </div>
                    </div>
                </div>

                <button class="ms-auto" (click)="createChat()" [disabled]="usersWantToChat.length == 0">create
                    Chat</button>
            </div>

        </div>
        <div class="search-container">
            <input [ngClass]="{'d-none' : usersWantToChat.length > 3}" #searchUserField placeholder="Search User"
                type="text" [ngModel]="mymodel" (ngModelChange)="valuechange($event)" />
            <input disabled [ngClass]="{'d-none' : usersWantToChat.length <= 3}"
                placeholder="This is the maximum of Chat Users" type="text" />
        </div>

        <div class="search-user-list" *ngFor="let foundUser of foundUsers; let i = index">
            <div (click)="addUserWantToChat(i, searchUserField)">
                <img class="found-user-image" src="{{ foundUser['imageUrl'] }}">
                <p>{{ foundUser['name'] }}</p>
            </div>
        </div>
    </div>
    <div class="body-container">
        <div class="latest-messages-container" *ngIf="loadingFinish == true">
           
            <div *ngFor="let messageEx of oldMessages">
                <div
                *ngIf="searchText === '' || messageEx['messageText'].toLowerCase().includes(searchText) || messageEx['messageAuthor'].toLowerCase().includes(searchText) ">
                
                <div class="day-container" [routerLink]="['/mainpage/chatroom/' + messageEx.chatroomID]">
                    <p class="day-text">{{ messageEx.messageTime }} Uhr</p>
                    <div class="message-container">
                        <img src="{{ messageEx['messageOtherUserImg'] }}">
                        <div class="message-text-container">
                            <div>
                                <div class="user-name" *ngFor="let user of messageEx['messageOtherUserName'], let i = index" >
                                    <span *ngIf="i > 0" class="me-2">, </span>
                                    <p>{{user}}</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <p>{{ messageEx['messageAuthor'] }}:</p>
                                <p *ngIf=" messageEx['messageText'].length > 0"><i class="d-flex"
                                        [innerHTML]="'&bdquo;' + messageEx['messageText'] + '&rdquo;'"></i></p>
                            </div>
                            <img class="loadmessage-image" *ngIf=" messageEx['messageImg']"
                                src="{{ messageEx['messageImg'] }}">
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>


    </div>
</div>