<div class="container">
<div class="header-container">
        <h2>Direct messages</h2>
        <div class="search-container">
            <p>To:</p>
            <input placeholder="@somebody or somebody@example.com">
        </div>
</div>
<div class="body-container">
    <div class="day-container">
        <p class="day-text">Yesterday</p>
        <div class="message-container">
            <img src="assets/img/p23.jpg">
            <div class="message-text-container">
                <div>Oda Schneider</div>
                <div>
                    <p>Oda: </p>
                    <p>ah ok alles klar :D</p>
                </div>

            </div>
        </div>
    </div>
</div>



</div>
