<mat-drawer-container class="drawer-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <div class="head">
            <h2>Thread</h2>
            <i (click)="drawer.close()"  class="material-icons">close</i>
        </div>
        <app-thread [post]="thread"></app-thread>
    </mat-drawer>

        <div class="channel-page">
            <div>
                <h2 (click)="showChannelDetails()" class="align"> 
                    <mat-icon *ngIf="channel['privacy'] == 'Public'" fontIcon="numbers"></mat-icon>
                    <mat-icon *ngIf="channel['privacy'] == 'Private'" fontIcon="lock_outline"></mat-icon>
                    {{ channel.channelName }}
                </h2>
            </div>

            <div class="empty-channel" *ngIf="posts.length == 0">
                <i class="material-icons">rocket_launch</i>
                <p>Start a conversation</p>
            </div>

            <div class="post-container" #scrollMe>
                <div *ngFor="let post of posts; index as i">
                    <div class="posts" *ngIf="searchText === '' || 
                    post.author.toLowerCase().includes(searchText) ||
                    post.text.toLowerCase().includes(searchText)">
                        <img class="profile-img" src="{{ post.img }}">
    
                        <div>
                            <div class="general-info-line">
                                <p><b>{{ post.author }}</b></p>
                                <span>{{ post.time }}</span>
                            </div>
                            <div class="post">
                                <p [innerHTML]="post.text"></p>
                            </div>

                            <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                            src="{{ post['uploadImg'] }}">
        
                            <div (click)="drawer.open()" class="open-thread">
                                <p (click)="openComments(post)">Comments</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <app-comment-box location="posts"></app-comment-box>
        </div>


</mat-drawer-container>