<mat-drawer-container class="drawer-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <i (click)="drawer.close()"  class="material-icons">close</i>
        <app-thread [post]="thread"></app-thread>
    </mat-drawer>

    <div class="channel-page">
        <div>
            <div>
                <h2>{{ channel.channelName }}</h2>
            </div>
            <div class="posts" *ngFor="let post of posts; index as i, trackBy: trackByFn">

                <img class="profile-img" src="{{ post.img }}">

                <div>
                    <div class="general-info-line">
                        <p><b>{{ post.author }}</b></p>
                        <span>{{ post.time }}</span>
                    </div>
                    <div class="post">
                        <p [innerHTML]="post.text"></p>
                    </div>

                    <div (click)="drawer.open()" class="open-thread">
                        <p (click)="openComments(post)">Comments</p>
                    </div>
                </div>
            </div>
        </div>
        <app-comment-box location="posts"></app-comment-box>
    </div>


</mat-drawer-container>