.drawer-container{
    height: 100%;
    width: 100%;
}

.channel-page{
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative
}

pre{
    width:200px;
}

app-comment-box, mat-expansion-panel{
    position: absolute;
    bottom: 32px;
    right: 32px;
    left: 32px;
    z-index: 10;
}


.post-container{
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 16px;
    height: calc(100% - 200px);
}

.profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}

.posts{
    display: flex;
    margin: 4px;
    margin-bottom: 24px;
    padding: 16px;
    box-shadow: 0px 2px 8px -1px rgb(0 0 0 / 20%);
    border-radius: 10px;

    img{
        margin-right: 16px;
    }

    &:last-child{
        margin-bottom: 8px;
    }

    p{
        word-break: break-word;
    }
}

.general-info-line{
    display: flex;

    span{
        color: gray;
        margin-left: 12px;
        font-size: 12px;
    }
}

.post{
    max-width: 75vw;
}

.open-thread{
    p{
        color: rgb(19 19 189);
        font-size: 12px;
        cursor: pointer;
    }
}

.align{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.empty-channel{
    width: 100%;
    text-align: center;
    margin-top: 64px;
    line-height: 32px;
    font-weight: 500;
}

.head{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: white;

    h2{
        margin: unset;
    }

    i{
        cursor: pointer;
    }
}

.upload-image{
    margin-top: 15px;
    height: 100px!important;
    width: 100px!important;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px!important;
    box-sizing:unset;
    border: 1px solid black;
}

.mat-drawer{
    width: 300px;
}

@media(max-width: 680px){
    .mat-drawer{
        width: 100%;
    }
}

@media(max-height: 600px){
    .post-container{
        height: calc(100% - 110px);
    }
}

@media(max-width: 530px){
    .post{
        max-width: 300px;
    }
}

@media(max-width: 465px){
    .post{
        max-width: 250px;
    }
}

@media(max-width: 410px){
    .post{
        max-width: 200px;
    }
}

@media(max-width: 380px){
    .general-info-line{
        flex-direction: column;
    
        span{
            margin-left: unset;
        }
    }

    .channel-page{
        padding: 16px;
    }

    app-comment-box, mat-expansion-panel{
        bottom: 16px;
        right: 16px;
        left: 16px;
    }
}

@media(max-width: 350px){
    .post{
        max-width: 150px;
    }
}