.channel-page{
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

app-comment-box{
    position: sticky;
    bottom: 32px;
    right: 0;
    left: 0;
    z-index: 10;
}

.profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}

.posts{

    &:last-child{
        margin-bottom: 60px !important;
    }
}
