quill-editor{
    width: 100%;
}

form{
    position: relative;
}

.send-icon{
    position: absolute;
    right: 12px;
    top: 8px;

    &:hover{
        color: #A161A3;
    }
}

.form-container{
    position: absolute;
    width: calc(70% - 60px);
    left: 30px;
    bottom: 20px;
}