quill-editor{
    width: 100%;
    display: block;
}

form{
    position: relative;
}

.send-icon{
    position: absolute;
    right: 12px;
    bottom: 16px;

    &:hover{
        color: #A161A3;
        cursor: pointer;
    }
}

.send-icon2{
    position: absolute;
    right: 12px;
    top: 8px;
    label{
        cursor: pointer;
    }
    &:hover{
        color: #A161A3;
       
    }
}

.form-container{
    position: absolute;
    width: calc(100% - 80px);
    left: 32px;
    bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

input[type="file"] {
    display: none;
}

.upload-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: auto;
    bottom: -54px;
    right: -38px;
    width: min-content;
    div{
        position: relative;
        &:hover{
            i{
                display: flex
            }
        }
    }
    img{
        height: 60px;
        width: 50px;
        object-fit: cover;
        border: 2px solid black;
        cursor: pointer;
        border-radius: 10px;
    }
    i{
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        height: 20px;
        width: 20px;
        color: lightgray;
        border-radius: 100%;
        background-color: rgb(67, 65, 65);
        position: absolute;
        top: -5px;
        right: -5px;
        border: 1px solid transparent;
        &:hover{
            cursor: pointer;
            color: black;
            background-color: white;
            font-weight: bold;
            border: 1px solid black;
        }
    }
}

.set-height{
    height: 140px;
}

.lightbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.close-lightbox{
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    padding: 4px;
    background-color: black;
    border-radius: 100%;
    &:hover{
        cursor: pointer;
        color: black;
        background-color: white;
    }
}