<form class="form-container" [formGroup]="form" >
    <quill-editor [ngClass]="{'set-height' : downloadURL2}"
     #editor class="content-editor" formControlName="editor" [placeholder]="''" [modules]="modules"
        (onEditorChanged)="changedEditor($event)" >
    </quill-editor>


    <i class="material-icons send-icon" matTooltip="Post" (click)="addMessage()">send</i>
    
    <div class="send-icon2">
        <label for="fileChatroom" class="upload-file">
            <i class="material-icons" matTooltip="add image">add</i>
           
        </label>
        <input class="send-icon2" type="file" id="fileChatroom" (change)="upload($event)" accept=".png,.jpg">
    </div>    
    

</form>

<div class="upload-image-container" *ngIf="downloadURL2 | async; let url">
    <div class="position-relative">
        <img (click)="openLightbox(url)" [src]="url" class="">
        <i (click)="discardUpload()" class="material-icons">close</i>
    </div>
</div>

