<div class="center-container background-color">
  <mat-card class="mat-elevation-z0 login-card background-color">
    <img src="../../assets/images/slack-clone-icon.jpg"> 
    <mat-card-title class="background-color">Passwort zurücksetzen</mat-card-title>
    <mat-card-content class="background-color">
    </mat-card-content>
    <form class="login-form background-color">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label class="color-white">Email</mat-label>
        <input  class="color-white" type="email" matInput [formControl]="emailFormControl" #passwordResetEmail
          placeholder="z.B. mail@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="center-container">
      <button mat-raised-button class="background-color-green" value="Reset Password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)">Zurücksetzen</button>
    </div>
    <div class="center-container padding-top padding-bottom">
      <span class="redirect" routerLink="/sign-in">Zurück zu Login</span>
    </div>
  </mat-card>
</div>