.active-chat-container{
    height: calc(100vh - 50px);
    width: 70%;
    border-right: 1px solid gray;
}

.header-container{
    background-color: white;
    border-bottom: 2px solid lightgrey;
}

.header-img-container{
    position: relative;
    img{
        height: 30px;
        width: 30px;
        border-radius: 5px;
       
    }
    div{
        position: absolute;
        height: 11px;
        width: 11px;
        background-color: white;
        border: 2px solid gray;
        right: -3px;
        bottom: -3px;
        border-radius: 100%;
    }
}

.header-online.icon{
    background-color: green!important;
}

.header-user-name {
    font-size: 18px;
    font-weight: 600;
}

.one-message {
    background-color: white;
    border-radius: 5px;
    img{
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }
}

.server-message{
   color: gray;
}

.user-img{
    height: 50px!important;
    width: 50px!important;
}

.message-text{
    display: flex;
    flex-direction: column;
}