.one-message {
    background-color: white;
    border-radius: 5px;
    img{
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }
}

.server-message{
   color: gray;
}

.user-img{
    height: 50px!important;
    width: 50px!important;
}

.message-text{
    display: flex;
    flex-direction: column;
}