<div class="active-chat-container">
    <div *ngFor="let chatuser of chatusers" class="header-container d-flex align-items-center py-3">
        <div class="d-flex align-items-center">
            <div class="header-img-container">
                <img src="{{ chatuser['photoURL'] }}" class="header-user-img">
                <div *ngIf="chatuser.numberOfChatUsers < 3"
                    [ngClass]="{'header-icon-online' : chatuser.isOnline == true}"></div>
            </div>
            <div class="ms-2 fs-4 fw-bold ">
                {{ userNamesAsStringWithoutAnd }}
            </div>
        </div>
    </div>

    <div class="add-bookmark-container d-flex align-items-center">

        <div class="bookmark-under-container d-flex align-items-center ps-1 pe-3 py-1"
            (click)="openBookmarks(currentChatroomID)">

            <mat-icon fontIcon="add"></mat-icon>
            <p>Add bookmark</p>
        </div>
        <div *ngFor="let bookmark of bookmarks" class="d-flex align-items-center ps-2 pe-1 ">
            <a class=" fw-bold text-dark d-flex align-items-center text-decoration-none" target="_blank"
                href="{{bookmark.link}}">
                <mat-icon class="text-decoration-none">bookmark</mat-icon>{{bookmark.name}}
            </a>
            <mat-icon (click)="deleteBookmark(bookmark.id)" class="fw-bold">close</mat-icon>

        </div>
    </div>
    <div class="messages-container" #scrollMe>
        <div class="other-user">
            <div *ngFor="let chatuser of chatusers" class="student-container p-2 d-flex align-items-start">
                <div class="d-flex align-items-start">
                    <img src="{{ chatuser['photoURL'] }}" class="user-img me-2">
                    <div>
                        <div class="fs-5 fw-bold">
                            {{ userNamesAsStringWithoutAnd }}
                        </div>
                        <p *ngIf="chatuser.numberOfChatUsers < 3" class="fw-light ps-1 pt-1"><i>{{ chatuser.student
                                }}</i>
                        </p>
                        <p *ngIf="chatuser.numberOfChatUsers > 2" class="fw-light ps-1 pt-1"><i>Groupchat</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="conversation-container mt-3 text-secondary d-flex justify-content-center align-items-center flex-wrap">
            <p class="text-center">This conversation is just between the two of you. Here you can send
                messages and share files with <b>{{ userNamesAsStringWithoutAnd }}</b></p>

        </div>
        <div class="button-container d-flex justify-content-center" *ngIf="messages.length >= 10">
            <button class="loadmore-button btn btn-outline-secondary py-0 px-2 my-3" (click)="loadMoreMessages()">load
                more messages</button>
        </div>
        <div class="d-flex flex-column-reverse">
        <div class="load-message-container" *ngFor="let message of messages">
            <div  class="one-message my-2 p-2 d-flex align-items-start"
                *ngIf="searchText === '' || message['loadMessageText']?.toLowerCase().includes(searchText) || message['loadMessageAuthor']?.toLowerCase().includes(searchText) ">
                <div>
                    <img *ngIf="message['loadMessageAuthor'] !== 'server'" class="one-message-img me-2"
                        src="{{ message['loadMessageAuthorImg'] }}">
                </div>
                <div [ngClass]="{'server-message' : message['loadMessageAuthor'] == 'server'}">
                    <div class="message-header" *ngIf="message['loadMessageAuthor'] !== 'server'">
                        <p class="me-1"><b>{{ message['loadMessageAuthor']}}</b></p>
                        <p>{{ message['loadMessageTime']}} Uhr</p>
                    </div>
                    <div [innerHTML]="message['loadMessageText']" class="message-text">
                    </div>
                    <img (click)="openLightbox( message['loadMessageImg'] )" class="loadmessage-image"
                        *ngIf=" message['loadMessageImg']" src="{{ message['loadMessageImg'] }}">
                </div>
            </div>
        </div>
        </div>
       

        <app-comment-box-chatroom *ngIf="innerHeight > 600"></app-comment-box-chatroom>
        <mat-accordion *ngIf="innerHeight < 600">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Text Editor
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-comment-box-chatroom location="posts"></app-comment-box-chatroom>
            </mat-expansion-panel>
        </mat-accordion>

    </div>