<div class="active-chat-container">
    <div *ngFor="let chatuser of chatusers" class="header-container p-2 d-flex align-items-center">
        <div class="d-flex align-items-center">
            <div class="header-img-container">
                <img src="{{ chatuser['photoURL'] }}" class="header-user-img">
                <div *ngIf="chatuser.numberOfChatUsers < 3" 
                 [ngClass]="{'header-icon-online' : chatuser.isOnline == true}"></div>
            </div>
            <div class="ms-2 d-flex align-items-center">
            <div class="d-flex align-items-center" *ngFor="let names of chatuser.name, let i = index">
                <p *ngIf="i > 0" class="ms-1 fs-5 fw-bold"> / </p>
                <p class="header-user-name ps-1">{{ names }}</p>

            </div>
            </div>
        </div>
    </div>
    <div class="p-2 add-bookmark-container d-flex align-items-center">
        <div class="d-flex align-items-center ps-1 pe-3 py-1" (click)="alertlist()">
            <mat-icon fontIcon="add"></mat-icon>
            <p>Add bookmark</p>
        </div>
    </div>
    <div class="messages-container" #scrollMe>
        <div *ngFor="let chatuser of chatusers" class="one-message p-2 d-flex align-items-start">
            <div class="d-flex align-items-start">
                <img src="{{ chatuser['photoURL'] }}" class="user-img me-2">
                <div>
                    <p class="first-message-user-name">{{ chatuser.name }}</p>
                    <p class="fw-light"><i>{{ chatuser.student }}</i></p>
                </div>
            </div>
        </div>
        <div *ngFor="let chatuser of chatusers" class="ms-2 text-secondary">
            This conversation is just between the two of you. Here you can send messages and share files with <b>{{
                chatuser.name }}</b>
        </div>
        <div class="load-message-container d-flex flex-column-reverse" >
            
            <div *ngFor="let message of messages" class="one-message my-2 p-2 d-flex align-items-start">
                <div *ngIf="searchText === '' || message['loadMessageAuthor'].toLowerCase().includes(searchText)">
                <div>
                    <img *ngIf="message['loadMessageAuthor'] !== 'server'" class="one-message-img me-2"
                        src="{{ message['loadMessageAuthorImg'] }}">
                </div>
                <div [ngClass]="{'server-message' : message['loadMessageAuthor'] == 'server'}">
                    <div class="d-flex align-items-start" *ngIf="message['loadMessageAuthor'] !== 'server'">
                        <p class="me-1"><b>{{ message['loadMessageAuthor']}}</b></p>
                        <p>{{ message['loadMessageTime']}}</p>
                    </div>
                    <div [innerHTML]="message['loadMessageText']" class="message-text">
                    </div>
                    <img (click)="openLightbox( message['loadMessageImg'] )" class="loadmessage-image" *ngIf=" message['loadMessageImg']"
                     src="{{ message['loadMessageImg'] }}">
                </div>
                </div>
            </div>
            <div class="button-container d-flex justify-content-center" *ngIf="messages.length >= 10">
            <button class="loadmore-button btn btn-outline-secondary py-0 px-2 mt-3" (click)="loadMoreMessages()">load more messages</button>
            </div>
        </div>
    </div>
    <app-comment-box-chatroom></app-comment-box-chatroom>
</div>
