<div class="center-container">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Login mit E-mail oder mit Google Account möglich </mat-card-subtitle>
    <mat-card-content>
    </mat-card-content>

    <form class="login-form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" #userName placeholder="z.B. mail@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Passwort</mat-label>
        <input matInput matInput [formControl]="passwordFormControl" #userPassword placeholder="z.B. Password"
          [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password wird <strong>benötigt</strong>
        </mat-error>

      </mat-form-field>
      <div class="center-container">
        <button mat-raised-button color="primary" (click)="authService.SignIn(userName.value, userPassword.value)">Einloggen</button>
      </div>

    </form>

    <div class="center-container padding-top padding-bottom">
      OR
    </div>
    <div class="center-container">
      <button mat-raised-button color="primary" (click)="authService.GoogleAuth()">Login mit Google</button>
    </div>
    <div class="center-container padding-top padding-bottom" >
      <span routerLink="/forgot-password">Password vergessen?</span>
    </div>
    <div class="center-container padding-top padding-bottom">
      Kein Account? <span routerLink="/register-user">Registrieren</span>
    </div>

  </mat-card>
</div>

