<div class="sidenave">
  <div (click)="closeMist()" class="container-workspace">
    Developer Akademie
  </div>



    <div class="container-threads" [routerLink]="['/mainpage/threads/']"
    [ngClass]="{'active-chatroom' : activeChatChannel == ('threads') }"
          (click)="showActive('threads', '0')">
        <mat-icon fontIcon="comment"></mat-icon>
        <span >Threads</span>
    </div>


  <div class="container2">
    <div class="container-head">
      <div class="channel-menu">
        <mat-icon *ngIf="channelOpen" (click)="toggleChannelMenu()" fontIcon="arrow_drop_down"></mat-icon>
        <mat-icon *ngIf="!channelOpen" (click)="toggleChannelMenu()" fontIcon="arrow_right"></mat-icon>
        <span>Channels</span>
      </div>
      <mat-icon fontIcon="add" (click)="openDialogCreateChannel()"></mat-icon>
    </div>
    <div class="container-channels" *ngIf="channelOpen">
      <div class="" *ngFor="let channel of channels, let i = index">
        <div class="channel" [ngClass]="{'active-chatroom' : activeChatChannel == ('channel' + i) }"
          (click)="showActive('channel' + i, i)" [routerLink]="['/mainpage/channel/' + channel.channelId]">
          <mat-icon *ngIf="channel['privacy'] == 'Public'" fontIcon="numbers"></mat-icon>
          <mat-icon *ngIf="channel['privacy'] == 'Private'" fontIcon="lock_outline"></mat-icon>
          <span >{{ channel['channelName'] }}</span>
        </div>
      </div>

    </div>

    <div class="add-channel">
      <mat-icon fontIcon="add_circle" (click)="openDialogCreateChannel()"></mat-icon>
      <span>Create new Channel</span>
    </div>
  </div>

  <div class="container2">
    <div class="container-head">
      <div class="message-menu">
        <mat-icon *ngIf="messageOpen" (click)="toggleMessageMenu()" fontIcon="arrow_drop_down"></mat-icon>
        <mat-icon *ngIf="!messageOpen" (click)="toggleMessageMenu()" fontIcon="arrow_right"></mat-icon>
        <span>Personal message</span>
      </div>
      <mat-icon fontIcon="add" [routerLink]="['/mainpage/']"></mat-icon>
    </div>
    <div class="container-channels" *ngIf="messageOpen">

      <div class="" *ngFor="let chatroom of chatrooms; let i = index" class="">
        <!-- <div [routerLink]="['/mainpage/chatroom/' + chatroom.chatroomID]" >  -->
        <div (click)="openChatroom(chatroom.chatroomID)" class="chat d-flex align-items-center"
          [ngClass]="{'active-chatroom' : activeChatChannel == ('chatroom' + i) }" (click)="showActiveChat('chatroom' + i, i)">
          <div class="header-img-container">
            <img class="chatroom-img me-2" src="{{ chatroom.userImg }}">
            <div [ngClass]="{'header-icon-online' : chatroom.userIsOnline == true}"></div>
          </div>
          <span class="mt-1">{{ chatroom.userName }}</span>
          <span class="newMessage ms-auto me-2" *ngIf="chatroom.newMessageforOtherUser > 0">{{ chatroom.newMessageforOtherUser }}</span>
          <mat-icon class="close-sidebar-chatroom ms-auto me-2" fontIcon="close"></mat-icon>
        </div>
      </div>

    </div>
  </div>
</div>