html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0 !important;
    
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #a161a3a3;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #A161A3;
}

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.ql-toolbar {
    border: none !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eeeeee;
}

.ql-container {
    border: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.ql-editor {
    min-height: 80px;
    max-height: 30vh;

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}

#emoji-palette {
    top: -260px!important;
    left: 20px!important;
    right: auto!important;
}

.post {
    p {
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }
}

.one-message{
    img{
        max-height: 250px;
        object-fit: cover;
    }
}

.mat-expansion-panel-body{
    height: 150px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-right: 40px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(164, 164, 164);
}