input{
    border: unset;
    outline: none;
}

i{
    color: black;
}

.searchfield{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
}