<div class="thread-container">
    <div class="posts comments">
        <img class="profile-img" src="{{ post.img }}">

        <div>
            <div class="general-info-line">
                <p><b>{{ post.author }}</b></p>
                <span>{{ post.time }} Uhr</span>
            </div>
            <div class="post">
                <p [innerHTML]="post.text"></p>
            </div>
            <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
            src="{{ post['uploadImg'] }}">
        </div>
    </div>

    <div class="comment-container" #scrollMe>
        <div class="comments" *ngFor="let comment of comments">
            <img class="profile-img" src="{{ comment.img }}">
    
            <div>
                <div class="general-info-line">
                    <p><b>{{ comment.author }}</b></p>
                    <span>{{ comment.time }} Uhr</span>
                </div>
                <div class="post">
                    <p [innerHTML]="comment.text"></p>
                </div>
                <img (click)="openLightbox( comment.uploadImg )" class="upload-image" *ngIf=" comment.uploadImg"
                src="{{ comment.uploadImg }}">
            </div>
        </div>
    </div>
</div>

<app-comment-box *ngIf="innerHeight > 600" [CommentToPost]="post" location="comments"></app-comment-box>
<mat-accordion *ngIf="innerHeight < 600">
    <mat-expansion-panel 
      (opened)="panelOpenState = true" 
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Write something
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comment-box [CommentToPost]="post" location="comments"></app-comment-box>
    </mat-expansion-panel>
  </mat-accordion>