.comments{
    display: flex;
    margin-bottom: 16px;
    padding: 16px;

    img{
        margin-right: 16px;
    }

    &:last-child{
        margin-bottom: 60px !important;
    }
}

.posts{
    margin: 8px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 8px -1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
}

.general-info-line{
    display: flex;

    span{
        color: gray;
        margin-left: 12px;
        font-size: 12px;
    }
}

.profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}

app-comment-box{
    position: absolute;
    bottom: 32px;
    right: 32px;
    left: 32px;
    z-index: 10;
}