.thread{
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts{
    display: flex;
    margin-bottom: 24px;

    img{
        margin-right: 16px;
    }

    &:last-child{
        margin-bottom: 60px !important;
    }
}

.general-info-line{
    display: flex;

    span{
        color: gray;
        margin-left: 12px;
        font-size: 12px;
    }
}

.profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}

app-comment-box{
    position: sticky;
    bottom: 32px;
    right: 0;
    left: 0;
    z-index: 10;
}