.bookmarks-container{
    width:  calc(40vw - 48px);
    min-height: 40vh;
    max-height: calc(95vh - 48px);
    display: flex;
    flex-direction: column;
  
    input{
       
        outline: none;
     
        border-radius: 5px;
        &::placeholder{
            font-style: italic;
            font-size: 14px;
            
        }
    }
}

mat-form-field{
    width: calc(40vw - 48px);
}

.bottom-container{
    width: calc(40vw - 48px);
}
.header-container{
    width: calc(40vw - 48px);
}

mat-form-field-wrapper{
    margin: 0;
}

.folder-img{
    height: 50px;
    width: 80px;
}

.bookmark-text{
    background-color: rgb(224, 255, 255);
    padding: 10px;
    border-radius: 20px;
}

.close-lightbox{
    font-size: 22px;
    font-weight: light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
    &:hover{
        background-color: lightgrey;
        border-radius: 100%;
        color: white;
        font-weight: bold;
    };
}

.add-button{
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    mat-icon{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header-container{
    p{
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    .bookmarks-container{
        width: calc(80vw - 48px);
        min-height: 40vh;
        input{
            width: 50%;
        
        }
    }
    mat-form-field{
        width: calc(80vw - 48px);
    }
    .bottom-container{
        width: calc(80vw - 48px);
    }
    .header-container{
        width: calc(80vw - 48px);
    }
}

@media(max-width: 450px) {
    .folder-img{
        display: none;
    }
    .header-container{
        p{
            font-size: 20px;
        }
    }
}